@import url("https://mirinda-mewi.netlify.app/styles/main.css");
:root {
  --primary: #ffa500;
}
.App {
  text-align: center;
}
.landingPage {
  height: auto;
}
.navBar {
  background-color: var(--primary);
}
.basicLight {
  background-color: var(--snow);
  color: var(--darc);
}
.basicDark {
  background-color: var(--darc);
  color: var(--snow);
}
.basicRed {
  background-color: var(--caution);
  color: var(--snow);
}
.basicGreen {
  background-color: var(--success);
  color: var(--snow);
}
@media only screen and (max-width: 860px) {
  .rightNav {
    display: block;
  }
  .rightBurger {
    display: none;
  }
  .disableMe {
    display: none;
  }
}
