@import url("https://mirinda-mewi.netlify.app/styles/main.css");
.App {
  text-align: center;
}

.basicLight {
  background-color: var(--snow);
  color: var(--darc);
}
.basicDark {
  background-color: var(--darc);
  color: var(--snow);
}
.basicRed {
  background-color: var(--caution);
  color: var(--snow);
}
.basicGreen {
  background-color: var(--success);
  color: var(--snow);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
